.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.my-form {
  width: 500px;
  margin: 0 auto;
}
.sign-up-form {
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.mdc-textfield {
  margin-bottom: 1em;
}
.mdc-text-field__input {
  width: 100%;
}
.fade-appear {
  margin-top: 30px;
  opacity: .01;
}
.fade-appear .fade-appear-active {
  margin-top: 0;
  opacity: 1;
  transition: opacity .5s ease, margin .5s ease;
}
.fade-leave {
  margin-top: 0;
  opacity: 1;
}
.fade-leave .fade-leave-active {
  margin-top: -30px;
  opacity: .01;
  transition: opacity .3s ease, margin .5s ease ;
}
